# Xcode
.DS_Store
build/
*.dll
*.approj
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
.sconsign.dblite
SpaceBotAlpha.spritebuilder/Source/Resources/Published-iOS
SpaceBotAlpha.spritebuilder/Published-Packages
*.ccb.ppng
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/cocos2d-tests-osx.xcodeproj/
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/cocos2d-tests-ios.xcodeproj/
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/installer/
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/templates/
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/tools/
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/Resources-Mac/
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/Resources-iPad/
*.ppng
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/cocos2d-ui-tests
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone/Resources
SpaceBotAlpha.spritebuilder/Source/libs/cocos2d-iphone.backup*
SpaceBotAlpha.spritebuilder/Source/Resources/Published-Android
SBA0SS.itmsp
